<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password | Stationery-Heaven</title>
    <link rel="icon" type="image/jpeg" href="images/Logo.jpeg" />
    <link rel="stylesheet" href="/styles/login.css" />
    <link rel="stylesheet" href="/styles/notification.css" />
  </head>
  <body>
    <div id="notification-container"></div>
    <div class="container">
      <h1 class="heading">Forgot Password</h1>

      <form id="forgot-form">
        <label for="email">Enter your email:</label>
        <input
          type="email"
          id="email"
          placeholder="example@gmail.com"
          required
        />
        <button type="submit" class="sub">Send OTP</button>
      </form>

      <form id="verify-form" style="display: none;">
        <label for="otp">Enter OTP:</label>
        <input type="text" id="otp" placeholder="Enter OTP" required /><br />

        <label for="newPassword">New Password:</label>
        <input
          type="password"
          id="newPassword"
          placeholder="Enter new password"
          required
        />

        <button type="submit" class="sub">Update Password</button>
      </form>

      <a href="/login">Back to Login</a>
    </div>

    <script src="./js/forgotPassword.js"></script>
    <script src="./js/notification.js"></script>
  </body>
</html>