<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stationery-Heaven</title>
    <link rel="icon" type="image/jpeg" href="images/Logo.jpeg" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/home.css" />
    <script src="./js/notification.js"></script>
    <script type="module" src="./js/index.js"></script>
    <script type="module" src="./js/cart.js"></script>
    <script type="module" src="./js/logout.js" defer></script>
  </head>
  <body>
    <h3 style="text-align: center;">Hello
      {{naming}}, Welcome to LPU's largest study-chain</h3>

    <div id="app"></div>
    <!-- embed the template file content -->
    <div id="temporaryContent">
      <!-- contains main content of this page -->
      <div class="listProduct">
        <!-- to display the product list -->
        Contents of index file
      </div>
    </div>

    <script>
      const username = localStorage.getItem("username") || "Guest"; 
      const welcomeH3 = document.querySelector("h3"); 
      welcomeH3.textContent = `Hello ${username}, Welcome to LPU's largest study-chain`;
    </script>
  </body>
</html>