<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Placed Successfully</title>
    <link rel="icon" type="image/jpeg" href="images/Logo.jpeg">
    <style src="/styles/home.css"></style>
</head>
<body>
    <div class="order-placed-div">
    <h1>Order Placed Successfully</h1>
    <script>
        setTimeout(function () {
            window.location.href = "/index";
        }, 7000); 
    </script>
    </div>
</body>
</html>