<!-- file for general use -->
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Stationery-Heaven</title>
  <link rel="stylesheet" href="/styles/style.css" />
  <link rel="stylesheet" href="/styles/home.css" />
  <link rel="icon" type="image/jpeg" href="images/Logo.jpeg" />
</head>

<body class="">
  <div class="container">
    <header>
      <div class="title">
        <a href="/home" class="nav__logo">Stationery-Heaven</a>
      </div>

      <div style="display: flex; align-items: center; gap: 20px;">
        <div class="icon-cart">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312" />
          </svg>
          <span>0</span>
        </div>

        <!-- Logout icon -->
        <div class="icon-logout" id="logoutBtn" style="cursor: pointer;">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="white"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
            <polyline points="16 17 21 12 16 7" />
            <line x1="21" y1="12" x2="9" y2="12" />
          </svg>
        </div>
      </div>
    </header>

    <div id="contentTab">
      Content in template file
    </div>
  </div>

  <div class="cartTab">
    <h1>Shopping Cart</h1>
    <div class="listCart">
      Show items here
    </div>
    <div class="btn">
      <button class="close">Close</button>
      <button class="checkOut" id="checkOut">Check Out</button>
    </div>
  </div>

  <form id="dynamicForm" action="/check-out" method="post">
    <input type="hidden" name="dataField" id="dataField" />
  </form>

</body>

</html>