<footer id="footer">
  <h1 class="text-center">Stationary Heaven</h1>
  <p class="text-center">
    Elevate your everyday with beautiful stationery.
  </p>
  <div class="icons text-center">
    <a href="https://twitter.com/home"><i
        class="custom_icons bx bxl-twitter"
      ></i></a>
    <a href="https://www.facebook.com/"><i
        class="custom_icons bx bxl-facebook"
      ></i></a>
    <a href="https://www.google.com/">
      <i class="custom_icons bx bxl-google"></i></a>
    <a href="https://www.skype.com/en/">
      <i class="custom_icons bx bxl-skype"></i></a>
    <a href="https://www.instagram.com/">
      <i class="custom_icons bx bxl-instagram"></i></a>
  </div>
  <div class="copyright text-center">
    &copy; Copyright
    <strong><span>Stationary Heaven</span></strong>. All Rights Reserved
  </div>
  <div class="credite text-center">
    Designed By
    <a href="#" style="color: orange">Dheerendra Singh</a>
  </div>
</footer>