<!--=============== Header Section ===============-->
<header class="header" id="header">
  <nav class="nav container">
    <a href="/index" class="nav__logo"> StationaryHeaven</a>

    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="/home" class="nav__link active-link">
            <!-- <i class='bx bx-home-alt nav__icon'></i> -->
            <i class="custom_icons fa-solid fa-store"></i>
            <span class="nav__name">Home</span>
          </a>
        </li>

        <li class="nav__item">
          <a href="/products/bio-technology" class="nav__link">
            <!-- <i class='bx bx-book-alt nav__icon'></i> -->
            <i class="custom_icons fa-solid fa-compass-drafting"></i>
            <span class="nav__name">Bio-tech</span>
          </a>
        </li>

        <li class="nav__item">
          <a href="/products/electrical" class="nav__link">
            <i class="custom_icons bx bx-briefcase-alt nav__icon"></i>
            <span class="nav__name">Electrical</span>
          </a>
        </li>

        <li class="nav__item">
          <a href="/products/mechanical" class="nav__link">
            <!-- <i class='bx bx-user nav__icon'></i> -->
            <i class="custom_icons fa-solid fa-user"></i>
            <span class="nav__name">Mechanical</span>
          </a>
        </li>

        <li class="nav__item">
          <a href="/products/lab-manual" class="nav__link">
            <i class="custom_icons bx bx-message-square-detail nav__icon"></i>
            <span class="nav__name">lab-Manual</span>
          </a>
        </li>

        <li class="nav__item">
          <a href="/about" class="nav__link">
            <i class="custom_icons fas fa-info-circle nav__icon"></i>
            <span class="nav__name">About Us</span>
          </a>
        </li>

        <li class="nav__item">
          <a href="/guest-check-out" class="nav__link">
            <i class="custom_icons bx bx-message-square-detail nav__icon"></i>
            <span class="nav__name">Guest Shopping</span>
          </a>
        </li>
        
        <li class="nav__item">
          <a href="/index" class="nav__link">
            <i class="custom_icons fa-solid fa-shopping-cart nav__icon"></i>
            <span class="nav__name">Your-Cart</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
