<header class="header" id="header">
  <nav class="nav container">
    <a href="index" class="nav__logo">
      StationaryHeaven</a>

    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="index" class="nav__link active-link">
            <i class="custom_icons fa-solid fa-store"></i>
            <span class="nav__name">Home</span>
          </a>
        </li>

        <li class="nav__item">
          <a href="productsBiotech" class="nav__link">
            <i class="custom_icons fa-solid fa-compass-drafting"></i>
            <span class="nav__name">Bio-tech</span>
          </a>
        </li>

        <li class="nav__item">
          <a href="productsElec" class="nav__link">
            <i class="custom_icons bx bx-briefcase-alt nav__icon"></i>
            <span class="nav__name">Electrical</span>
          </a>
        </li>

        <li class="nav__item">
          <a href="productsMec.hbs" class="nav__link">
            <i class="custom_icons fa-solid fa-user"></i>
            <span class="nav__name">Mechanical</span>
          </a>
        </li>

        <li class="nav__item">
          <a href="login" class="nav__link">
            <i class="custom_icons fas fa-user-circle nav__icon"></i>
            <span class="nav__name">Login</span>
          </a>
        </li>
        <li class="nav__item">
          <a href="about" class="nav__link">
            <i class="custom_icons fas fa-info-circle nav__icon"></i>
            <span class="nav__name">About Us</span>
          </a>
        </li>

      </ul>
    </div>

  </nav>
</header>